---
layout: default
---

<div class="posts">
    {% for post in site.posts %}
    <article class="post-snippet">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="by">
            {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %},
            {{ post.date | date: "%d.%m.%Y" }}
        </div>

        <div class="entry">
            {{ post.content | truncatewords:40}}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
</div>
