---
layout: default
---
<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
        {% if page.image %}
        <div class="teaser">

            <img src="/images/{{ page.image }}"/>
            {% if page.caption %}
            {{ page.caption }}
            {% endif %}
            {% endif %}
        </div>
        {{ content }}
    </div>

    <div class="by">
        {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %},
        {{ page.date | date: "%d.%m.%Y" }}.
        <br>
    </div>

    {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
